asgiref==3.10.0
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
diff-match-patch==20241021
Django==5.2.7
django-admin-thumbnails==1.0.0
django-adminlte-3==0.1.6
django-ckeditor==6.7.3
django-ckeditor-5==0.2.20
django-embed-video==1.4.10
django-filter==25.2
django-import-export==4.4.1
django-jazzmin==3.0.1
django-jet==1.0.8
django-js-asset==3.1.2
django-mptt==0.18.0
django-multiselectfield==1.0.1
django-recaptcha==4.1.0
django-tailwind==4.4.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
easy-thumbnails==2.10.1
Faker==37.11.0
google-auth==2.41.1
idna==3.11
pillow==11.3.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.13.0
pytailwindcss==0.3.0
python-dotenv==1.1.1
requests==2.32.5
rsa==4.9.1
sqlparse==0.5.3
tablib==3.9.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0
