{% extends "base.html" %}
{% load static %}
{% for rs in settings_obj %}

{% block content %}
  <!-- PAGE WRAPPER -->
  <div class="max-w-5xl mx-auto px-5 py-10">

    <!-- HEADER -->
    <header class="text-center mb-10">
      <h1 class="text-3xl md:text-4xl font-bold text-gray-900">Privacy Policy</h1>
      
    </header>

    <!-- MAIN CARD -->
    <div class="bg-white shadow-lg rounded-xl p-6 md:p-10 border">
      {{rs.privacy_policy}}

    </div>

  </div>
{% endblock content %}




{% endfor %}